---
import Layout from '../layouts/Layout.astro';
import CreditosSection from '../components/pagina/CreditosSection';
---

<Layout title="Créditos - Cumpleaños de Robert">
  <main>
    <CreditosSection client:visible />
  </main>
</Layout>