---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---
<DefaultLayout title="Invitados - Pool Party de Robert">
  <section class="text-center">
    <h1 class="text-4xl font-bold">Lista de Invitados</h1>
    <p class="mt-4">¡Hasta ahora hay 30 confirmados! ✅</p>
    <ul class="mt-4 list-disc list-inside">
      <li>Robert</li>
      <li>Leidymar</li>
      <li>Cenaida</li>
      <!-- Agregar más invitados aquí -->
    </ul>
  </section>
</DefaultLayout>
